data/plants* filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/ filter=lfs diff=lfs merge=lfs -text
data/fromR/plants* filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/* filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/plant_NS_data filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/plant_NS_data.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/plants_1989-2019.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/plants_direct_from_gbif.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/current filter=lfs diff=lfs merge=lfs -text
/data/fromR/lfs* filter=lfs diff=lfs merge=lfs -text
