data/plants* filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/ filter=lfs diff=lfs merge=lfs -text
data/fromR/plants* filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/* filter=lfs diff=lfs merge=lfs -text
