data/plants* filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/ filter=lfs diff=lfs merge=lfs -text
data/fromR/plants* filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/* filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/plant_NS_data filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/plant_NS_data.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/plants_1989-2019.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/plants_direct_from_gbif.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/current filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/ filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/LU2013 filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/LULC1973_unzipped filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/LULC2002_unzipped filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/LULC2010_unzipped filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/slope_unzipped filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/LC2013 filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/elevation.tif filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/parcels_unzipped filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/stateBoundaries filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/plants_1989-2019_with_status_climate_landUse.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/plants_with_status.csv filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/** filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/LC2013_unzipped/ filter=lfs diff=lfs merge=lfs -text
data/GIS_downloads/NLCD_wmgCNFPzEKD2TBCTk1Kl/ filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/plants_with_status_long.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/0413674-210914110416597.zip filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/100_100_fits_20220530.rda filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/100_100_fits_20220422.rda filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/exotic_records_removed.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/kept_plants_with_stats.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/native_leps_with_status.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/nonNative.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/to_predict.RDA filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/100_100_fits_20220727.rda filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/100_100_fits_20220801.rda filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/excluded_plants.csv_new filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/kept_plants_with_stats_new.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/leps_with_status.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/occ_from_gbif.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/GBIF_downloads filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/excluded_plants.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/final_fits.RDA filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/lep_NS_data.csv filter=lfs diff=lfs merge=lfs -text
data/fromR/lfs/leps_direct_from_gbif.csv filter=lfs diff=lfs merge=lfs -text
/data/fromR/fold_fits.RDA filter=lfs diff=lfs merge=lfs -text
/data/fromR/lfs/GBIF_downloads/multimedia.txt filter=lfs diff=lfs merge=lfs -text
/data/fromR/lfs/GBIF_downloads/occurrence.txt filter=lfs diff=lfs merge=lfs -text
/data/fromR/lfs/GBIF_downloads/verbatim.txt filter=lfs diff=lfs merge=lfs -text
/multimedia.txt filter=lfs diff=lfs merge=lfs -text
/occurrence.txt filter=lfs diff=lfs merge=lfs -text
/verbatim.txt filter=lfs diff=lfs merge=lfs -text
